VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_RAZORSYNC_TOKEN=4442a145-bf1b-4cc4-bfd1-026587d5b037
VITE_RAZORSYNC_HOST=vallus.0.razorsync.com
VITE_RAZORSYNC_SERVER=vallus